nav{
    width: 100%;
    height: 79px;
    background-color:#fff;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid #ccc;
}
nav .row{
    width: 1170px;
    height: 100%;
    margin:0 auto;
    position: relative;
    top:0;
    left:0;
}
nav .row img{
    width: 80px;
    height: 78px;
}
nav .row ul{
    width: auto;
    height: 79px;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto 0;
    right:0;
}
nav .row ul li{
    width:auto;
    height: 79px;
    font-size: 14px;
    line-height:79px;
    float:left;
    padding: 0 15px 10px 16px;
    box-sizing: border-box;
}
nav .row ul li a{
    color:#000;
}
nav .row ul li a:hover{
    color:#16b0dc;
}
nav .row ul li a:hover .jiao{
    border-top-color:#16b0dc;
}
nav .row ul li .jiao{
    border-top: 4px solid #16b0dc;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top:50%;
    right:15px;
}
nav .row ul li:nth-child(2){
    width: 100px;
    position: relative;
    top:0;
    left:0;
}
nav .row ul li:nth-child(2):hover .son{
    visibility: visible;
}
nav .row ul li:nth-child(2):hover .jiao1{
    visibility: visible;
}
nav .row ul li:nth-child(2) .son{
    width: 160px;
    height: 79px;
    background-color: #FBFBFB;
    position: absolute;
    bottom:-79px;
    right:0;
    visibility: hidden;
}
nav .row ul li:nth-child(2) .jiao1{
    border-bottom: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    color: #16b0dc;
    position: absolute;
    bottom:0;
    right:10px;
    visibility: hidden;
}
.banner{
    width:100%;
    height:120px;
    background-color:#F1F1F1;
    margin:0 auto;
    padding-top: 79px;
}
.banner h4{
    color: #F67A82;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    line-height: 120px;
}
section{
    width: 100%;
    height: 2105px;
    padding:30px 0;
    background: #f2f2f2;
    border-top: 1px solid #f0f2f5;
}
section .content{
    width: 1170px;
    height: 2105px;
    margin:0 auto;
}
section .content .left{
    width: 847px;
    height: 100%;
    padding:0 15px;
    background-color: white;
    float:left;
}
section .content .left ul{
    width: 817.5px;
    height: 1994px;
    padding:0 15px;
    margin:30px 0 11px 0;
}
section .content .left ul li{
    width: 100%;
    height: 200px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f0f2f5;
    margin-bottom: 20px;
}
section .content .left ul li .img{
    width: 180px;
    height: 100%;
    float:left;
}
section .content .left ul li .img img{
    width: 160px;
    height:160px;
}
section .content .left ul li .body{
    width: 637px;
    height: 200px;
    float:right;
}
section .content .left ul li .body h5{
    width: 100%;
    height: 26px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
}
section .content .left ul li .body h5 a{
    color:#2a333c;
}
section .content .left ul li .body h5 a:hover{
    color: #62a8ea;
    text-decoration: underline;
}
section .content .left ul li .body .des{
    height: 120px;
    color: #76838f;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
section .content .left ul li .body .info{
    width: 100%;
    height: 24px;
    color: #76838f;
    font-weight: 300;
}
section .content .left ul li .body .info .name{
    margin-left: 10px;
}
section .content .left ul li .body .info .eye{
    margin-left: 10px;
}
section .content .left .l-bottom{
    width:238px;
    height:39px;
    border:1px solid #e4eaec;
    margin:0 auto;
}
section .content .left .l-bottom .page{
    border-right: 1px solid #e4eaec;
    padding: 9px 15px;
    background: #fff;
    color: #ccd5db;
    float:left;
}
section .content .left .l-bottom .shu{
    /*width: 39px;*/
    border-right: 1px solid #e4eaec;
    padding: 9px 15px;
    background-color: #fff;
    text-align: center;
    color: #76838f;
    float:left;
}
section .content .left .l-bottom div:nth-child(2){
    background-color: #F86867;
    color:#fff;
}
section .content .left .l-bottom div:nth-child(3):hover{
    background-color:#F2F2F2 ;
}
section .content .left .l-bottom div:nth-child(4):hover{
    background-color:#F2F2F2 ;
}
section .content .right{
    width: 222px;
    height: 240px;
    padding: 20px;
    background-color: #fff;
    float:right;
    position: relative;
}
section .content .right input{
    width: 223px;
    height: 36px;
    margin-bottom: 20px;
    padding: 6px 15px;
    border:1px solid #e4eaec;
    border-radius: 200px;
    box-sizing: border-box;
    font-size: 14px;
    color: #76838f;
}
section .content .right i{
    font-size: 14px;
    position: absolute;
    top:30px;
    right:35px;
}
section .content .right .list{
    width: 223px;
    height: 140px;
    padding:10px 0 20px;
    margin-bottom: 20px;
}
section .content .right .list h3{
    font-size: 18px;
    font-weight: 300;
}
section .content .right .list ul{
    width: 223px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 20px;
}
section .content .right .list ul li{
    width: 191px;
    height: 22px;
    padding: 10px 15px;
    border: 1px solid #e4eaec;
}
section .content .right .list ul li:nth-child(2){
    border-top:0;
}
section .content .right .list ul li:nth-child(3){
    border-top:0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
section .content .right .list ul li a{
    color: #2a333c;
    font-size: 15px;
}
section .content .right .list ul li a:hover{
    color: #62a8ea;
    text-decoration: underline;
}
section .content .right .list ul li:nth-child(1){
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
section .content .right .list .column{
    width: 223px;
    height:92px;
    margin-bottom: 11px;
    margin-top: 20px;
}
section .content .right .list .column .title{
    width: 100%;
    height: 24px;
    margin-bottom: 10px;
}
section .content .right .list .column .title a{
    font-size: 16px;
    color: #2a333c;
}
section .content .right .list .column .title a:hover{
    color: #89bceb;
    text-decoration: underline;
}
footer{
    width: 1349px;
    height:141px;
    margin-top: 20px;
    border-top:1px solid #f0f2f5;
    background-color: #f5f5f5;
}
footer .text{
    width: 100%;
    height:46px;
    padding:5px 0;
    margin-top: 10px;
}
footer .text .iconfont{
    font-size: 30px;
    font-weight: 400;
    color: #83b944;
    line-height: 46px;
    margin-left: 600px;
}
footer .text .iconfont:hover{
    color:#86DB48;
}
footer .text .qq{
    color: #62a8ea;
    margin-left: 10px;
}
footer .text .qq:hover{
    color:#86C4D1;
}
footer .text .infomate{
    font-size: 26px;
    color: #62a8ea;
    margin-left: 10px;
}
footer .text .infomate:hover{
    color:#86C4D1;
}
footer .text1{
    width:380px;
    height:25px;
    margin:0 auto;
}
footer .text1 a{
    color: #62a8ea;
    font-size: 14px;
    float:left;
    line-height: 25px;
}
footer .text1 a:hover{
    color:#86C4D1;
    text-decoration: underline;
}
footer .text1 img{
    width: 20px;
    height: 20px;
    float:left;
    margin-left: 15px;
}
footer .text1 p{
    color: #aaaaaa;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}
