nav{
    width: 100%;
    height: 79px;
    background-color:#fff;
    border-bottom:1px solid #ccc;
    position: fixed;
    z-index: 999;
}
nav .row{
    width: 1170px;
    height: 100%;
    margin:0 auto;
    position: relative;
    top:0;
    left:0;
}
nav .row img{
    width: 80px;
    height: 78px;
}
nav .row ul{
    width: auto;
    height: 79px;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto 0;
    right:0;
}
nav .row ul li{
    width:auto;
    height: 79px;
    font-size: 14px;
    line-height:79px;
    float:left;
    padding: 0 15px 10px 16px;
    box-sizing: border-box;
}
nav .row ul li a{
    color:#000;
}
nav .row ul li a:hover{
    color:#16b0dc;
}
nav .row ul li a:hover .jiao{
    border-top-color:#16b0dc;
}
nav .row ul li .jiao{
    border-top: 4px solid #2A333C;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top:50%;
    right:15px;
}
nav .row ul li:nth-child(2){
    width: 100px;
    position: relative;
    top:0;
    left:0;
}
nav .row ul li:nth-child(2):hover .son{
    visibility: visible;
}
nav .row ul li:nth-child(2):hover .jiao1{
    visibility: visible;
}
nav .row ul li:nth-child(2) .son{
    width: 160px;
    height: 79px;
    background-color: #FBFBFB;
    position: absolute;
    bottom:-79px;
    right:0;
    visibility: hidden;
}
nav .row ul li:nth-child(2) .jiao1{
    border-bottom: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    color: #16b0dc;
    position: absolute;
    bottom:0;
    right:10px;
    visibility: hidden;
}
.banner{
    width:100%;
    height:120px;
    background-color:#F1F1F1;
    margin:0 auto;
    padding-top: 79px;
}
.banner h4{
    color: #F67A82;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    line-height: 120px;
}
.search{
    width: 100%;
    height: 52px;
    border-top: 1px solid #fff;
    background-color: #F86867;
}
.search .row{
    width: 1170px;
    height: 100%;
    margin:0 auto;
    padding-top: 8px;
    box-sizing: border-box;
}
.search .row .input-search{
    width: 293px;
    height: 36px;
    background-color: #fff;
    border-radius: 200px;
    position: relative;
    text-align: center;
    line-height: 36px;
    color: #62a8ea;
    font-size: 24px;
}
.goods{
    width: 100%;
    height: 577px;
    background-color: #F2F2F2;
}
.goods ul{
    width: 1319px;
    height: 517px;
    padding:30px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.goods ul li{
    width: 300px;
    height: 100%;
    float:left;
    margin:0 10px;
}
.goods ul li img{
    width: 100%;
    height: 225px;
}
.goods ul li .body{
    width: 100%;
    height: 292px;
    padding:30px 25px;
    background-color:#F7FCFF;
    box-sizing: border-box;
}
.goods ul li .body h3{
    height: 28px;
    margin-bottom: 11px;
    color: #37474f;
    font-size: 24px;
}
.goods ul li .body p{
    height: auto;
    margin-bottom: 11px;
    font-size: 14px;
}
.goods ul li .body .bottom{
    height: 36px;
    margin-top: 30px;
}
.goods ul li .body .bottom .look{
    width: 56px;
    height: 22px;
    padding:6px 15px;
    background-color；transparent;
    font-size: 14px;
    border-radius: 3px;
    border:1px solid #62a8ea;
    float: left;
}
.goods ul li .body .bottom a{
    display: block;
    color: #62a8ea;
}
.goods ul li .body .bottom a:first-child:hover{
    background-color: #62a8ea;
    color:#fff;
}
.goods ul li .body .bottom a:last-child{
    font-size: 14px;
    color: #76838f;
    float:right;
    margin-top: 10px;
}
.goods ul li .body .bottom a:last-child:hover{
    color:#C1C1C1;
}
footer{
    width: 1349px;
    height:141px;
    margin-top: 20px;
    border-top:1px solid #f0f2f5;
    background-color: #f5f5f5;
}
footer .text{
    width: 100%;
    height:46px;
    padding:5px 0;
    margin-top: 10px;
}
footer .text .iconfont{
    font-size: 30px;
    font-weight: 400;
    color: #83b944;
    line-height: 46px;
    margin-left: 600px;
}
footer .text .iconfont:hover{
    color:#86DB48;
}
footer .text .qq{
    color: #62a8ea;
    margin-left: 10px;
}
footer .text .qq:hover{
    color:#86C4D1;
}
footer .text .infomate{
    font-size: 26px;
    color: #62a8ea;
    margin-left: 10px;
}
footer .text .infomate:hover{
    color:#86C4D1;
}
footer .text1{
    width:380px;
    height:25px;
    margin:0 auto;
}
footer .text1 a{
    color: #62a8ea;
    font-size: 14px;
    float:left;
    line-height: 25px;
}
footer .text1 a:hover{
    color:#86C4D1;
    text-decoration: underline;
}
footer .text1 img{
    width: 20px;
    height: 20px;
    float:left;
    margin-left: 15px;
}
footer .text1 p{
    color: #aaaaaa;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}


