nav{
    width: 100%;
    height: 79px;
    background-color: rgba(0,0,0,0.2);
    border-bottom:1px solid transparent;
    position: fixed;
    z-index: 999;
    transition: all 1s;
    overflow: hidden;

}
nav .row{
    width: 1170px;
    height: 100%;
    margin:0 auto;
    position: relative;
    top:0;
    left:0;
    overflow: hidden;
}
nav .row .logo{
    width: 180px;
    height: 78px;
    padding:10px 0;
    box-sizing: border-box;
}
nav .row .logo .title{
    font-size: 24px;
    color:#4C94DE;
    font-weight: 600;
    float:left;
    line-height: 58px;
    margin-left: 10px;

}
nav .row .logo img{
    width:70px;
    height:50px;
    float:left;
}
nav .row ul{
    width: auto;
    height: 79px;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto 0;
    right:0;
}
nav .row ul li{
    width:auto;
    height: 79px;
    font-size: 14px;
    line-height:79px;
    float:left;
    padding: 0 15px 10px 16px;
    box-sizing: border-box;
}
nav .row ul li a{
    color:#BCBCBC;
}
nav .row ul li a:hover{
    color:#16b0dc;
}
.box{
    width: 1349px;
    height: 758px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
    top:0;
    left:0;
}
 .picture{
    width: 1349px;
    height: 100%;
    position: relative;
    top:0;
    left:0;
     transition: .4s;
}
 .caption{
     width: 50%;
     height: 15%;
     position: absolute;
     top:0;
     bottom:0;
     left:0;
     right:0;
     margin: auto;
     padding: 20px 0;

 }
.caption h3{
    font-size: 30px;
    font-weight: 300;
    color:#FAE8BA;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    transition: .5s linear;
}
.active .caption h3,.active .caption p{
    opacity: 1;
    transform: translate3d(0, 0, 0)!important;
}
.caption p{
    font-size: 36px;
    font-weight: 300;
    color:#FAE8BA;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: .5s linear .5s;
}

 .picture .banner-img{
    width: 1349px;
    height: 758px;
    float:left;
    position: absolute;
    top:0;
    left:0;
     opacity: 0;
}
.banner-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.picture .banner-active{
    opacity: 1;
}
.box .left{
    width: 15%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top:0;
    left:0;
}
.box .left:hover{
    visibility: visible;
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
}
.box .left:hover .iconfont{
    visibility: visible;
}
.box .right{
    width: 15%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top:0;
    right:0;
}
.box .right:hover{
    visibility: visible;
    background-image: linear-gradient(to left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
}
.box .right:hover .iconfont{
    visibility: visible;
}
.box  .iconfont{
    font-size: 24px;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -12px;
    visibility: hidden;
}
.box .banner-dian{
    width: 40px;
    height: 10px;
    position: absolute;
    bottom:20px;
    left:50%;
    margin-left: -20px;
}
 .banner-dian li{
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,.3);
    margin:0 3px;
    border-radius: 50%;
    float:left;
    cursor: pointer;
}
.banner-dian .dian{
    background-color: #92C4CC;
}
.met-index{
    /*width: 1349px;*/
    height: 722px;
    background-color: white;
    margin:0 auto;
    padding: 70px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.met-index h1{
    width: 1140px;
    height: 43px;
    margin:0 auto 11px;
    padding-left: 430px;
    font-size: 36px;
    font-weight: 300;
    position: relative;
    top:0;
    left:0;
    box-sizing: border-box;
    opacity: 0;
    transform: translate3d(0, -50%, 0);
    transition: .5s linear .5s;
}
.hot{
    opacity: 1!important;
    transform: translate3d(0, 0, 0)!important;
}
.met-index h1 .more{
    width: 27px;
    height:18px;
    padding:5px 13px;
    background-color: #16b0dc;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    color:#fff;
    position: absolute;
    top:10px;
    right:43%;
}
.met-index h1 .more:before{
    content: '';
    border: 8px solid transparent;
    border-right-color: #16b0dc;
    position: absolute;
    top:6px;
    left:-16px;
}
.met-index p{
    width: 80%;
    margin:0 auto;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #5e7387;
    opacity: 0;
    transition: .5s linear 1s;
}
.desHot{
    opacity: 1!important;
}
.met-index .item{
    width: 1020px;
    height: 454px;
    margin:50px auto 0;
    /*padding:0 60px;*/
    /*margin-top: 50px;*/
    overflow: hidden;
    position: relative;
    top:0;
    left:0;
}
.met-index .item i{
    font-size: 30px;
    color:#a3afb7;
    cursor: pointer;
}

.met-index .item ul{
    /*width: 1460px;*/
    height: 100%;
}
.met-index .item ul li{
    width: 320px;
    height: 100%;
    /*margin-right:30px;*/
    float:left;
}

.met-index .item li .top{
    width: 100%;
    height: 418px;
    background-color: #fff;
}
.met-index .item li .top img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
}
.met-index .item li .top h3{
    font-weight: 400;
    font-size:18px;
    text-align: center;
    margin-top: 11px;
}
.met-index .item li .top .des{
    font-size: 14px;
    color:#757575;
    margin-top: 11px;
}
.met-index .item li .bottom{
    width: 290px;
    height: 24px;
    background-color: #f96868;
    border-radius: 3px;
    padding:6px 0;
    font-size: 14px;
    color:#fff;
}
.met-index .item li .bottom i{
    display: block;
    color:#9c2115;
    font-size: 18px;
    margin:2px -80px 0 90px;
    float:left;
}
.met-news{
    width: 1349px;
    height: 567px;
    padding:70px 0;
    background-color: #f5f5f5;
    margin:0 auto;
    overflow: hidden;
}
.met-news h1{
    width: 1140px;
    height: 43px;
    margin:0 auto 11px;
    padding-left: 430px;
    font-size: 36px;
    font-weight: 300;
    position: relative;
    top:0;
    left:0;
    box-sizing: border-box;
    opacity: 0;
    transform: translate3d(0, -50%, 0);
    transition: .5s linear .5s;

}
.met-news h1 .more{
    width: 27px;
    height:18px;
    padding:5px 13px;
    background-color: #16b0dc;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    color:#fff;
    position: absolute;
    top:10px;
    right:43%;
}
.met-news h1 .more:before{
    content: '';
    border: 8px solid transparent;
    border-right-color: #16b0dc;
    position: absolute;
    top:6px;
    left:-16px;
}
.met-news ul{
    width: 1170px;
    height: 504px;
    margin:0 auto;
}
.met-news ul li{
    width: 555px;
    height: 96px;
    padding:0 15px;
    margin-top: 30px;
    float:left;
    opacity: 0;
}
.met-news ul li.slide-left{;
    transform: translate3d(-100%,0,0);
}
.met-news ul li.slide-right{
    transform: translate3d(100%,0,0);
}
.move{
    opacity: 1!important;
    transform: translate3d(0,0,0) !important;
}
.delay-100{
    transition: .5s linear .5s;
}
.delay-200{
    transition: .5s linear 1s;
}
.delay-300{
    transition: .5s linear 1.5s;
}
.delay-400{
    transition: .5s linear 2s;
}
.met-news ul li .left {
    width: 160px;
    height: 96px;
    margin-right: 20px;
    float:left;
    border-radius:5px;
    overflow: hidden;
}
.met-news ul li .left {
    transition: transform .3s linear;
}
.met-news ul li .left:hover {
    transform:translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.7) ;
    /*transform: rotate(1turn);*/
}

.met-news ul li .right{
    width: 375px;
    height: 96px;
    float:left;
}
.met-news ul li .right .detail{
    width: 375px;
    height: 21px;
    margin-bottom: 5px;
    font-size: 18px;
    text-shadow: rgba(0,0,0,.15) 0 0 1px;
    font-weight: 400;
    line-height: 21px;
}
.met-news ul li .right .detail a{
    color: #37474f;
}
.met-news ul li .right .detail a:hover{
    color: #62a8ea;
    text-decoration: underline;
}
.met-news ul li .right p{
    width: 375px;
    height: 42px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #76838f;
    font-weight: 300;
}
.met-news ul li .right .info{
    width: 375px;
    height: 21px;
    color: #76838f;
    font-weight: 300;
}
.met-news ul li .right .info .name{
    margin-left: 10px;
}
.met-news ul li .right .info .eye{
    margin-left: 10px;
}
.kong{
    width:1349px;
    height: 20px;
    background-color: #fff;
    margin:0 auto;
}
footer{
    width: 1349px;
    height:141px;
    border-top:1px solid #f0f2f5;
    background-color: #f5f5f5;
    margin:0 auto;
}
footer .text{
    width: 100%;
    height:46px;
    padding:5px 0;
    margin-top: 10px;
}
footer .text .iconfont{
    font-size: 30px;
    font-weight: 400;
    color: #83b944;
    line-height: 46px;
    margin-left: 600px;
}
footer .text .iconfont:hover{
    color:#86DB48;
}
footer .text .qq{
    color: #62a8ea;
    margin-left: 10px;
}
footer .text .qq:hover{
    color:#86C4D1;
}
footer .text .infomate{
    font-size: 26px;
    color: #62a8ea;
    margin-left: 10px;
}
footer .text .infomate:hover{
    color:#86C4D1;
}
footer .text1{
    width:380px;
    height:25px;
    margin:0 auto;
}
footer .text1 a{
    color: #62a8ea;
    font-size: 14px;
    float:left;
    line-height: 25px;
}
footer .text1 a:hover{
    color:#86C4D1;
    text-decoration: underline;
}
footer .text1 img{
    width: 20px;
    height: 20px;
    float:left;
    margin-left: 15px;
}
footer .text1 p{
    color: #aaaaaa;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}
button{
    list-style: none;
    border:0;
    width: 45px;
    height: 45px;
    border-radius:50%;
    background-color: #62a8ea;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color:#fff;
    font-weight: 400;
    transition: all 1s;
    opacity:0;
    z-index: 999;
}
