nav{
    width: 100%;
    height: 79px;
    background-color:#fff;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid #ccc;
}
nav .row{
    width: 1170px;
    height: 100%;
    margin:0 auto;
    position: relative;
    top:0;
    left:0;
}
nav .row img{
    width: 80px;
    height: 78px;
}
nav .row ul{
    width: auto;
    height: 79px;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto 0;
    right:0;
}
nav .row ul li{
    width:auto;
    height: 79px;
    font-size: 14px;
    line-height:79px;
    float:left;
    padding: 0 15px 10px 16px;
    box-sizing: border-box;
}
nav .row ul li a{
    color:#000;
}
nav .row ul li a:hover{
    color:#16b0dc;
}
nav .row ul li a:hover .jiao{
    border-top-color:#16b0dc;
}
nav .row ul li .jiao{
    border-top: 4px solid #16b0dc;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top:50%;
    right:15px;
}
nav .row ul li:nth-child(2){
    width: 100px;
    position: relative;
    top:0;
    left:0;
}
nav .row ul li:nth-child(2):hover .son{
    visibility: visible;
}
nav .row ul li:nth-child(2):hover .jiao1{
    visibility: visible;
}
nav .row ul li:nth-child(2) .son{
    width: 160px;
    height: 79px;
    background-color: #FBFBFB;
    position: absolute;
    bottom:-79px;
    right:0;
    visibility: hidden;
}
nav .row ul li:nth-child(2) .jiao1{
    border-bottom: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    color: #16b0dc;
    position: absolute;
    bottom:0;
    right:10px;
    visibility: hidden;
}
section{
    width: 100%;
    height: 3795px;
    padding-top:109px;
    background: #f2f2f2;
    border-top: 1px solid #f0f2f5;
}
section .content{
    width: 1170px;
    height: 3795px;
    margin:0 auto;
}
section .content .left{
    width: 847px;
    height: auto;
    padding:0 15px;
    background-color: white;
   margin: 0 auto;
}
section .content .left .title{
    width: 817px;
    height: 88px;
    padding:30px 15px 0;
}
section .content .left .title h1{
    font-weight: 400;
    line-height: 38px;
    color: #37474f;
    font-size: 32px;
    margin-bottom: 5px;
}
section .content .left .title .info{
    height: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f2f5;
    color: #a3afb7;
    font-size: 16px;
    font-weight: 300;
}
section .content .left .center{
    width: 817px;
    height: 3500px;
    padding:30px 15px;
}
section .content .left .center .img{
    width: 817px;
    height: 454px;
}
section .content .left .center .img img{
    width: 817px;
    height: 454px;
}
section .content .left .center p{
    font-size: 18px;
    font-weight: 300;
    color: #222;
    margin:30px 0 20px 0;
}
section .content .left .bottom{
    width: 817px;
    height: 64px;
    padding: 0 15px 30px;
}
section .content .left .bottom ul{
    width: 817px;
    height: 43px;
    padding-top: 20px;
    border-top: 1px solid #f0f2f5;
}
section .content .left .bottom ul .zuo a{
    display: block;
    width: 200px;
    height: 21px;
    padding: 10px 20px;
    color: #76838f;
    border: 1px solid #e4eaec;
    border-radius: 1000px;
    font-size: 14px;
    float:left;
}
section .content .left .bottom ul a:hover{
    border-color:#62a8ea;
}
section .content .left .bottom ul .you a{
    display: block;
    width: 214px;
    height: 21px;
    padding: 10px 20px;
    color: #76838f;
    border: 1px solid #e4eaec;
    border-radius: 1000px;
    font-size: 14px;
    float:right;
}
section .content .left .bottom ul .you a:hover{
    border-color:#62a8ea;
}
footer{
    width: 1349px;
    height:141px;
    margin-top: 20px;
    border-top:1px solid #f0f2f5;
    background-color: #f5f5f5;
}
footer .text{
    width: 100%;
    height:46px;
    padding:5px 0;
    margin-top: 10px;
}
footer .text .iconfont{
    font-size: 30px;
    font-weight: 400;
    color: #83b944;
    line-height: 46px;
    margin-left: 600px;
}
footer .text .iconfont:hover{
    color:#86DB48;
}
footer .text .qq{
    color: #62a8ea;
    margin-left: 10px;
}
footer .text .qq:hover{
    color:#86C4D1;
}
footer .text .infomate{
    font-size: 26px;
    color: #62a8ea;
    margin-left: 10px;
}
footer .text .infomate:hover{
    color:#86C4D1;
}
footer .text1{
    width:380px;
    height:25px;
    margin:0 auto;
}
footer .text1 a{
    color: #62a8ea;
    font-size: 14px;
    float:left;
    line-height: 25px;
}
footer .text1 a:hover{
    color:#86C4D1;
    text-decoration: underline;
}
footer .text1 img{
    width: 20px;
    height: 20px;
    float:left;
    margin-left: 15px;
}
footer .text1 p{
    color: #aaaaaa;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}